body {
    padding: 0;
    margin: 0;
    background: #2c2c2c;
    color: white;
    min-width: 300px;
}

.app {
    display: flex;
    height: 100vh;
    font-family: arial;
}

.side-menu {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #dddddd38;
    background: #202123;
    width: 260px;
    min-width: 260px;
    padding: 20px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.side-menu li:hover {
    background-color: #2a2b32;
}

.side-menu li.active {
    background-color: #343541;
}

.chat-area {
    display: flex;
    flex-direction: column;
    flex: 3;
    background: #343541;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.chat-input {
    flex-shrink: 0;
    padding: 20px;
    border-top: 1px solid #dddddd38;
    position: relative;
}

.chat-input input#user-input:focus,
#btn-submit-message:focus-visible {
    outline: none;
}

.chat-input input#user-input:invalid,
#btn-submit-message:invalid {
    box-shadow: none;
}

.chat-input input#user-input {
    display: inline-block;
    width: calc(100% - 6em);
    height: 100%;
    font-size: 1.2em;
    border-radius: 5px;
    background: #40414f;
    border: none;
    outline: none;
    box-shadow: none;
    /* border: 1px solid #36323a; */
    color: white;
    font-family: arial;
    /* padding-left: 10px; */
    padding: 1em;
    padding-right: 5em;
}

#btn-submit-message {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    background-color: cadetblue;
    color: white;
    border: none;
    padding: 5px 15px;
    font-family: arial;
    border-radius: 2px;
    cursor: pointer;
}

#spinner {
    display: block;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid cadetblue;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    animation: spin 0.75s cubic-bezier(0.48, -0.36, 0.84, 1.32) infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-new-chat {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 15px;
    background: #40414f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-new-chat:hover {
    background: #535465;
}

.r-assistant, .r-user {
    max-width: calc(90% - 50px);
}

.r-assistant {
    background-color: #525467;
    padding: 20px;
    border-radius: 5px 5px 5px 0px;
    /* width: 90%; */
    margin-bottom: 20px;
}

.r-user {
    background-color: cadetblue;
    padding: 20px;
    border-radius: 5px 5px 0px 5px;
    /* width: 90%; */
    margin-bottom: 20px;
    align-self:flex-end;
}

/* Hide the default scrollbars */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
    background-color: #ffffff00; /* Set the background color */
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00; /* Set the track background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff87; /* Set the scrollbar handle color */
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffffb0; /* Set the scrollbar handle color on hover */
  }